@model IEnumerable<Assignment3_N01609602.Models.Teacher>
@{
    ViewBag.Title = "Teachers List";
}

<h3>Teachers List</h3>
<hr />
<form class="d-flex align-items-center mt-4" method="GET" action="/Teachers/List">
    <input class="form-control-lg" style="min-width: 600px; margin-right: 1em" type="search" placeholder="Search teachers" aria-label="Search">
    <button class="btn btn-lg btn-primary my-2 my-sm-0" type="submit">Search</button>
</form>
<div class="card mt-5">
    <div class="list-group list-group-flush">
        @foreach (var teacher in Model)
        {
            <a href="/Teachers/Details/@teacher.id" class="list-group-item mt-2">
                @teacher.firstName @teacher.lastName
            </a>

        }
    </div>
</div>


