<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1>School CMS</h1>
        <p class="lead">This platform helps you to manage teachers and students in the school</p>
    </section>
    <section class="row">
        <div class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Teachers</h5>
                    <p class="card-text">
                        This application will help you to
                        <ul>
                            <li>View teacher's list</li>
                            <li>Search through the teacher's list</li>
                            <li>View teacher's details</li>
                            <li>View teacher's classes</li>
                            <li>Classes include the class name, start date, and end date</li>
                        </ul>
                    </p>
                    <a href="/Teachers/List" class="btn btn-primary btn-sm">Manage teachers</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Students</h5>
                    <p class="card-text">
                        This application will help you to
                        <ul>
                            <li>View student's list</li>
                            <li>Search through the student's list</li>
                            <li>View student's details</li>
                            <li>View student's schedule</li>
                            <li>What classes the student is enrolled in</li>
                        </ul>
                    </p>
                    <a href="/Students/List" class="btn btn-primary btn-sm">Manage students</a>
                </div>
            </div>
        </div>
    </section>
</main>
