<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1>School CMS</h1>
        <p class="lead">This platform helps you to manange teachers and students in the school</p>
    </section>
    <section class="row">
        <div class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Teachers</h5>
                    <p class="card-text">
                        This application will help you to
                        <ul>
                            <li>View teachers list</li>
                            <li>Search through the teachers list</li>
                            <li>View teacher's details</li>
                        </ul>
                    </p>
                    <a href="/Teachers/List" class="btn btn-primary">Manage teachers</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Students</h5>
                    <p class="card-text">
                        This application will help you to
                        <ul>
                            <li>View studentslist</li>
                            <li>Search through the students list</li>
                            <li>View student's details</li>
                        </ul>
                    </p>
                    <a href="/Students/List" class="btn btn-primary">Manage students</a>
                </div>
            </div>
        </div>
    </section>
</main>